Package: com.icraze.tempdrop
Name: TempDrop
Version: 1.0
Architecture: iphoneos-arm
Description: Automatically switch away from "everyone" AirDrop visibility after a set amount of time
Maintainer: iCraze
Author: iCraze
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
